<template>
<div>
    <v-card-title>Black Holes<v-spacer /><v-btn plain text color="primary" @click="show_dialog = true; edit_id = null; form = {}"><v-icon>mdi-plus</v-icon>Aggiungi blackholes</v-btn></v-card-title>
    <v-card-subtitle><v-text-field v-model="search" label="Cerca" prepend-inner-icon="mdi-magnify"/></v-card-subtitle>
    <VuetifyAudio v-if="url" flat :file="url"/>
    <v-data-table :headers="headers" :items="blackholes">
        <template v-slot:item.tags="{item}">
            <small>{{ item.tags.join(', ') }}</small>
            <!-- <small><v-chip class="mr-1 mt-1" v-for="tag of item.tags" :key="tag" label small>{{ tag }}</v-chip></small> -->
        </template>
        <template v-slot:item.length="{item}">
            {{ humanizer(item.length*1000) }}
        </template>
        <template v-slot:item.last_play="{item}">
            <v-tooltip bottom dark color="red">
                <template v-slot:activator="{attrs, on}">
                    <v-chip color='primary' v-on='on' v-bind="attrs" small label v-if="item.last_play">{{ item.last_play.length }}</v-chip>
                </template>
                <span v-for='i in item.last_play' :key="i">{{ i }}<br/></span>
            </v-tooltip>
        </template>
        <template v-slot:item.action="{item}">
            <v-toolbar-items class="float-right">
                <v-btn icon @click="edit(item)"><v-icon color="warning lighten-1">mdi-pencil</v-icon></v-btn>
                <v-btn icon @click="play(item)"><v-icon color="success lighten-1">mdi-play</v-icon></v-btn>
                <v-btn icon @click="remove(item)"><v-icon color="error lighten-1">mdi-delete</v-icon></v-btn>
            </v-toolbar-items>            
        </template>
    </v-data-table>

    <v-dialog v-model="show_dialog" max-width="900">
        <v-card color="secondary">
        <v-card-title>Black Holes<v-spacer /><v-btn @click="show_dialog = false" color='primary' icon><v-icon>mdi-close</v-icon></v-btn></v-card-title>
        <v-card-subtitle>Qui puoi inserire dei nuovi BlackHoles in archivio così da poterli programmare in un secondo momento.</v-card-subtitle>
        <v-card-text>
            <v-form ref='form' v-model='valid' @submit.prevent="edit_id ? save() : submit()">
                <v-row>
                <v-col cols="8">
                    <v-text-field :rules="[$validators.required]" v-model='form.title' label="Titolo" hint="così lo ritrovi" prepend-inner-icon="mdi-text"></v-text-field>
                </v-col>
                <v-col cols="4">
                    <v-combobox clearable :rules="[$validators.required]" small-chips multiple chips v-model='form.tags' @update:search-input="search_tags" :items="tags" label="Tags" hint="parole chiavi, serviranno per ricercarlo" prepend-inner-icon="mdi-tag-multiple"></v-combobox>
                </v-col>
                <v-col cols="8">
                    <v-textarea label='Descrizione' v-model="form.description" lines="3" hint="scrivi una piccola descrizione, la useremo al momento di pubblicare i blackholes"/>
                </v-col>
                <v-col cols="4">
                    <v-textarea label='Note' v-model="form.note" lines="3" hint="Note interne"/>
                </v-col>                
                    <!-- <v-col cols="8">
                        <v-text-field v-model='form.group' label="Serie" hint="se fa parte di una serie" prepend-icon="mdi-group"></v-text-field>
                    </v-col>
                    <v-col>
                        <v-text-field v-model="form.group_index" label="n. Episodio"></v-text-field>
                    </v-col> -->
                <!-- <v-col cols="4">
                    <v-text-field type="date" v-model="form.valid_due" label="Valido fino a" hint="Dopo questa data non viene piu' considerato valido" icon="" append-icon="" append-inner-icon="" />
                </v-col> -->
                <v-col cols="6">
                    <v-text-field v-model='form.source' label="Fonte" hint="da dove arriva? un nome, un sito, un collettivo" prepend-inner-icon="mdi-web"></v-text-field>
                </v-col>
                <v-col cols="6" v-if="!edit_id">
                    <v-file-input :rules="[$validators.required]" v-model="form.file" label="Il file" accept="audio/*"/>
                </v-col>
                <v-col cols="6">
                    <v-text-field type="date" v-model="form.valid_due" label="Valido fino a" hint="Dopo questa data non viene piu' considerato valido" />
                </v-col>                
            </v-row>
                <v-btn class='mt-5' type="submit" color='red' :disabled='!valid || loading' :loading='loading'>Salva</v-btn>
            </v-form>
        </v-card-text>
        </v-card>
    </v-dialog>
</div>
</template>
<script>
import { runAPI } from '../api/get'
import humanizeDuration from 'humanize-duration'
import VuetifyAudio from 'vuetify-audio'


export default {
    data () {
        return {
            valid: false,
            loading: false,
            show_dialog: false,
            form: {},
            edit_id: null,
            blackholes: [],
            tags: [],
            page: 0,
            search: '',
            url: null,
            humanizer: humanizeDuration.humanizer({language: 'it'}),
            headers: [{
                value: 'title',
                text: 'Titolo',
                key: 'title',
            },
            {
                key: 'tags',
                text: 'Tags',
                value: 'tags'
            },            
            {
                key: 'length',
                text: 'Durata',
                value: 'length'
            },
            {
                key: 'last_play',
                text: 'Passaggi',
                value: 'last_play'                
            },
            {
                sortable: false,
                key: 'action',
                value: 'action',
                text: 'Azioni',
                align: 'end'

            }
        ]}
    },
    components: { VuetifyAudio },
    mounted () {
        this.get()
    },
    watch: {
        async search () {
            this.get()
        },
    },    
    methods: {
        async search_tags (query) {
            const tags = await runAPI(`/tag?query=${query ?? ''}`)
            this.tags = tags.map(t => t.tag)
        },
        async remove(item) {
            const ret = await this.$root.$confirm.open('Conferma', 'Vuoi davvero eliminare questo BlackHole?', { color: 'red' })
            if (!ret) return;
            try {
                const ret = await runAPI(`/audio/${item.id}`, { method: 'DELETE' })
                this.blackholes = this.blackholes.filter(audio => audio.id !== item.id)
                console.error(ret)
            } catch (e) {
                console.error(e)
            }
        },
        async submit () {
            if (!this.$refs.form.validate()) {
                return
            }
            // check validity
            const body = new FormData()
            body.append('file', this.form.file)
            body.append('title', this.form.title)
            body.append('description', this.form?.description ?? '')
            body.append('note', this.form?.note ?? '')
            body.append('source', this.form?.source ?? '')
            body.append('tags', JSON.stringify(this.form.tags))
            body.append('valid_due', this.form?.valid_due ?? '')
            this.loading = true
            try {
                await runAPI('/audio', { method: 'POST', body })
            } catch (e) {
                console.error(e)
            }
            this.get()
            this.loading = false
            this.show_dialog = false
            this.form = { }
        },
        async save () {
            if (!this.$refs.form.validate()) {
                return
            }
            
            this.loading = true
            try {
                await runAPI(`/audio/${this.edit_id}`, { method: 'PUT', headers: { 'Content-Type':'application/json'}, 
                    body: JSON.stringify({ title: this.form.title, tags: this.form?.tags ?? [], valid_due: this.form?.valid_due ?? '',
                        description: this.form?.description ?? '', source: this.form?.source ?? '', note: this.form?.note ?? '' })})
                this.edit_id = null
                this.get()
            } catch (e) {
                console.error(e)
            }
            this.loading = false
            this.show_dialog = false
            this.form = { }
        },
        edit (item) {
            this.form = { title: item.title, tags: item.tags, description: item.description, note: item.note, source: item.source, valid_due: item.valid_due }
            this.show_dialog = true
            this.edit_id = item.id
        },
        play (item) {
                this.url = `${window.lautomatica.BASE_URL}/listen/audio/${item.id}`
        },
        async get () {
            this.blackholes = await runAPI(`/audio/search?query=${this.search ?? ''}`)
            this.blackholes.map(b => {
                if (!b.last_play) return b
                b.last_play = b.last_play.split(',').map(a => parseInt(a)).sort((a,b) => b-a).map(a => new Date(a).toLocaleString('it', { year: 'numeric', weekday: 'long', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' } ))
            })
        }
    }
}
</script>
