<template>
<div>
    <v-dialog v-model="show_dialog" max-width="700" persistent>
        <Programmate @updated="updated" @close="show_dialog=false"/>
    </v-dialog>
    <v-card-title>In coda<v-spacer /><v-btn plain text color="primary" @click="show_dialog = true"><v-icon>mdi-plus</v-icon>Programma audio</v-btn></v-card-title>
    <!-- <v-card-subtitle>Da grandi poteri derivano grandi responsabilita'</v-card-subtitle> -->
    <VuetifyAudio v-if="url" flat :file="url"/>
    <v-card-text v-if="queue.length">
        <v-list two-lines dense style="height: 600px !important; overflow:scroll">
            <v-list-item-group three-lines>
                <v-list-item v-for='q in queue' :key="q.id">
                    <v-list-item-content>
                        <strong>{{ q.title }}</strong>
                        <span>in onda <u>{{ new Date(q.start_at).toLocaleString('it', { weekday: 'long', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' } ) }}</u></span>
                        <small>durata {{ humanizer(q.length*1000) }}</small>
                    </v-list-item-content>
                        <v-btn icon @click="play(q)">
                            <v-icon color="success lighten-1">mdi-play</v-icon>
                        </v-btn>
                        <v-btn  icon @click="remove(q)" color="error lighten-1"><v-icon>mdi-delete</v-icon></v-btn>
                </v-list-item>
            </v-list-item-group>
        </v-list>
    </v-card-text>
</div>
</template>
<script>
import {runAPI} from '@/api/get'
import humanizeDuration from 'humanize-duration'
import Programmate from './Programmate.vue'
import VuetifyAudio from 'vuetify-audio'

export default {
    data () {
        return {
            queue: [],
            url: '',
            show_dialog: false,
            humanizer: humanizeDuration.humanizer({language: 'it'}),
        }
    },
    components: { Programmate, VuetifyAudio },
    async mounted () {
        try {
            this.queue = await runAPI('/queue')
        } catch (e) {
            console.error()
        }
    },
    methods: {
        async updated () {
            this.queue = await runAPI('/queue')
            this.show_dialog = false
        },
        play (q) {
                this.url = `${window.lautomatica.BASE_URL}/listen/queue/${q.id}`
        },
        async remove(q) {
            const confirm = await this.$root.$confirm.open('Conferma', 'Vuoi davvero togliere questo audio in coda?')
            if (!confirm) return
            await runAPI(`/queue/${q.id}`, { method: 'DELETE'})
            this.queue = await runAPI('/queue')
        }
    }
}
</script>