<template>
<v-card color="secondary">
    <v-card-title>Programmate<v-spacer /><v-btn @click="$emit('close')" color='primary' icon><v-icon>mdi-close</v-icon></v-btn></v-card-title>
    <v-card-text>
        <v-card-subtitle>Questo è il posto giusto se vuoi programmare un audio dalla bobina, puoi inserire un file presente sul sito della radio (copiandone l'indirizzo), caricarlo direttamente dal tuo computer oppure sceglierlo dall'archivio dei BlackHoles.</v-card-subtitle>
        <v-form id='form' ref='form' v-model='valid' autocomplete="off" @submit.prevent="submit">
            <v-btn-toggle
                @change="resetForm"
                v-model="form.type"
                class="d-flex"
                mandatory
                group
                color="deep-orange accent-3"
            >
                <v-btn class="grow" value="from_file">File da computer</v-btn>
                <v-btn class="grow" value="from_url">File da internet</v-btn>
                <v-btn class="grow" value="blackholes">BlackHoles</v-btn>
            </v-btn-toggle>

            <template v-if="form.type !== 'blackholes'">
                <v-row>
                    <v-col>
                        <v-text-field clearable :rules="[$validators.required]" v-if='form.type === "from_url"' prepend-inner-icon='mdi-music' autocomplete="off" v-model='form.url' label='Link del file (mp3 o ogg)' hint="Puo' essere un media dal sito della radio ma non solo" />
                        <v-file-input :rules="[$validators.required]" v-else prepend-icon="" prepend-inner-icon='mdi-music' autocomplete="off" v-model='form.file' label='File (mp3 o ogg)' hint="Il file da caricare" accept="audio/*"/>
                    </v-col>
                    <v-col>
                        <v-text-field :rules="[$validators.required]" prepend-inner-icon='mdi-text' v-model='form.title' label='Titolo' hint="il titolo comparira' come riferimento nella coda delle programmate"/>
                    </v-col>
                </v-row>
            </template>
            <v-autocomplete v-else prepend-inner-icon='mdi-music-note-whole'
                :rules="[$validators.required]"
                :menu-props="{ 'max-width': '700' }"
                autocomplete="off"
                v-model="form.audio_id"
                item-text="title"
                no-filter
                clearable
                item-value="id"
                label="BlackHoles" hint='..caricato nella sezione apposita'
                :search-input.sync="search"
                :items="blackholes">
                <template v-slot:item="{ item, attrs, on }">
                    <v-list-item-content v-bind="attrs" v-on="on">
                        <v-list-item-title>{{ item.title }}<v-chip label small class="float-right">{{ humanizer(item.length*1000) }}</v-chip></v-list-item-title>
                        <v-list-item-subtitle><v-chip class='mr-1' label small v-for="tag of item.tags" :key="tag">{{ tag }}</v-chip></v-list-item-subtitle>
                        <v-list-item-subtitle v-if="item.last_play">{{ lastPlay(item.last_play) }}</v-list-item-subtitle>
                    </v-list-item-content>
                </template>
            </v-autocomplete>
            <v-row>
                <v-col cols="6">
                    <v-text-field
                        :min="new Date().toISOString().slice(0, -14)"
                        :rules="[$validators.required]"
                        type='date'
                        prepend-inner-icon='mdi-calendar' 
                        v-model='form.date' label='Giorno'/>
                </v-col>
                <v-col cols="6">
                    <v-text-field :rules="[$validators.required]" type='time' prepend-inner-icon='mdi-clock' v-model='form.time' label='Orario'/>
                </v-col>
                {{ when }}
            </v-row>
            <VuetifyAudio v-if='audiourl' flat :file="audiourl" />
            <v-btn class='mt-5 mb-3' type="submit" color='red' :disabled='!valid || loading' :loading='loading'>ok</v-btn>
        </v-form>
    </v-card-text>
</v-card>
</template>
<script>

import humanizeDuration from 'humanize-duration'
import { runAPI } from '../api/get'
import VuetifyAudio from 'vuetify-audio'

export default {
    data () {
        return {
            form: { type: 'from_file' },
            loading: false,
            valid: false,
            blackholes: [],
            humanizer: humanizeDuration.humanizer({language: 'it'}),
            search: '',
        }
    },
    components: { VuetifyAudio },
    async mounted () {
        this.blackholes = await runAPI(`/audio/search?limit=10`)
    },
    computed: {
        when () {
            if (!this.form.date || !this.form.time) return ''
            const t = new Date(this.form.date + ' ' + this.form.time)
            return t.toLocaleString('it', { weekday: 'long', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' } )
        },
        audiourl () {
            if (this.form.type === 'from_url' && this.form.url) {
                return this.form.url
            } else if (this.form.type === 'from_file' && this.form.file) {
                return URL.createObjectURL(this.form.file)
            } else if (this.form.audio_id) {
                return `${window.lautomatica.BASE_URL}/listen/audio/${this.form.audio_id}`
            }
            return false
        }
    },
    watch: {
        async search (search) {
            // if (!search) return
            this.blackholes = await runAPI(`/audio/search?query=${search ?? ''}`)
        },
    },
    methods: {
        lastPlay (last_play) {
            const played = last_play.split(',').map(a => parseInt(a)).sort((a,b) => b-a)
            return `Passato ${played.length} volte, l'ultima il ${new Date(played[0]).toLocaleString('it', { year: 'numeric', weekday: 'long', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' } ) }`
        },
        resetForm () {
            this.$refs.form.resetValidation()
        },
        async submit () {
            if (!this.$refs.form.validate()) return
            this.loading = true
            const form = new FormData()

            if (this.form.type === 'from_file') {
                form.append('file', this.form.file)
            } else if (this.form.type === 'blackholes') {
                form.append('audio_id', this.form.audio_id)
            } else if (this.form.type === 'from_url') {
                form.append('url', this.form.url)
            }

            form.append('title', this.form.title)
            form.append('date', this.form.date)
            form.append('time', this.form.time)
            form.append('type', this.form.type)
            
            try {
                await runAPI('/queue', { method: 'POST', body: form })
                this.form = { type: this.form.type }
            } catch (e) {
                alert(e)
                this.loading = false
                return
            }
            this.loading = false
            this.$emit('updated')
            this.$refs.form.reset()
        }
    }
}

</script>
<style>

.theme--dark.v-list {
  background-color: #333;
}

</style>
