<template>
    <v-tabs grow :value="value" @change="$emit('input', $event)">
        <v-tab>Coda</v-tab>
        <v-tab>Black Holes</v-tab>
        <!-- <v-tab>Spottino</v-tab> -->
    </v-tabs>
</template>
<script>
export default {
    props: { value: Number },
}
</script>