<template>
<v-app id='app'>
  <Confirm ref="confirm" />

  <v-container fluid px-3>
      <!-- //- v-snackbar(v-model='msg.visible' top :color='msg.type' )  {{msg.value}}
      //-   v-btn(test @click='msg.visible=false' color='red' text) Close -->

      <v-row class='mt-12' width='800px' align='center' justify='center'>
        <v-card width='1000px'>
          <Tabs v-model="selectedTab" />
          <v-tabs-items :value="selectedTab">
            <v-tab-item>
              <Coda />
            </v-tab-item>
            <v-tab-item>
              <BlackHoles />
            </v-tab-item>
            <!-- <v-tab-item>
              <Spottini />
            </v-tab-item> -->
          </v-tabs-items>
        </v-card>
      </v-row>
    </v-container>
</v-app>
</template>
<script>
import axios from 'axios'

import Tabs from './components/Tabs.vue'
import BlackHoles from './components/BlackHoles.vue'
import Coda from './components/Coda.vue'
import Confirm from './components/core/Confirm.vue'


import { mapActions, mapState } from 'vuex'

export default {
  name: 'App',

  data: () => ({
    selectedTab: 0,
    step: 0,
    el: 0,
    valid: true,
    url: '',
    type: '',
    time: '',
    date: '',
    file: '',
    menu: { day: false, time: false },
    trasmissione: '',
    sending: false,
    queue: [],
    msg: { visible: false }
  }),
  components: { Tabs, BlackHoles, Coda, Confirm },
  computed: {
    ...mapState(['tokens']),
    disabled () {
      return (!this.trasmissione || !this.url || !this.date || !this.time)
    }
  },
  async mounted () {
    this.$root.$confirm = this.$refs.confirm
    // TODO: MANAGE AT QUEUE AND WP AUTH
    // this.queue = await axios.get('stats').then(r => r.data)
  },
  methods: {
    ...mapActions(['save_tokens']),
    async go () {
      this.sending = true
      try {
        // don't know why, ma mi sembrava avesse senso!
        //const fromRBO = RegExp(/^https?:\/\/radioblackout.org/)
        //if (!fromRBO.test(this.url)) {
          //this.msg = { visible: true, value: 'Il file deve essere nel wordpress della radio!', color: 'error'}
          //return
        //}
        // remove strange chars
        this.trasmissione = this.trasmissione.replace(/[/: ;,'"\\-]/gi, '')

        // makes magic happen
        await axios.post('abracadabra', {
          url: this.url,
          date: this.date,
          time: this.time,
          trasmissione: this.trasmissione
        })
        this.msg = { visible: true, value: 'Super Ok', color: 'success'}
        this.url = ''
        this.date = ''
        this.time = ''
        this.trasmissione = ''
        this.queue = await axios.get('stats').then(r => r.data)
      } catch (e) {
        console.error(e.response.data)
        this.msg = { visible: true, value: e.response.data, color: 'error'}
      }
      this.sending = false
    },
  }
};
</script>
<style>
  #app::before {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: "";
    opacity: 0.2;
    background-image: url('assets/background.webp'), linear-gradient(40deg, #182118 40%, #435c43 100%);
    /* background-image: url('assets/background.png'), linear-gradient(40deg, #182118 0%, #739cf3 100%); */
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
